interactions:
- request:
    body: '{"query":{"bool":{"must":[{"match":{"summary.title":"van gogh"}},{"term":{"@datatype.base":"agent"}},{"term":{"@datatype.actual":"Individual"}}]}},"size":10,"from":0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://data.ng.ac.uk/es/public/_search
  response:
    body:
      string: "{\"took\":39,\"timed_out\":false,\"_shards\":{\"total\":2,\"successful\":2,\"skipped\":0,\"failed\":0},\"hits\":{\"total\":{\"value\":221,\"relation\":\"eq\"},\"max_score\":18.641552,\"hits\":[{\"_index\":\"public\",\"_type\":\"data\",\"_id\":\"0QCE-0001-0000-0000\",\"_score\":18.641552,\"_ignored\":[\"description.formatted.keyword\",\"description.__web_text.keyword\"],\"_source\":{\"date\":[{\"from\":\"1853\",\"to\":\"1890\",\"value\":\"1853
        - 1890\"}],\"summary\":{\"title\":\"Vincent van Gogh\"},\"identifier\":[{\"type\":\"PID\",\"value\":\"0QCE-0001-0000-0000\"},{\"equivalents\":[{\"summary\":{\"title\":\"PID
        (NG alternative)\"},\"identifier\":[{\"id\":\"https://vocab.getty.edu/aat/300387580\",\"type\":\"AAT\",\"value\":\"persistent
        identifiers\"}],\"@admin\":{\"uid\":\"0I3T-000B-0000-0000\",\"id\":\"concept-pid_(ng_alternative)\",\"uuid\":\"290420fc-0c85-3c90-91ed-b9a81a2f930f\"},\"@datatype\":{\"actual\":\"equivalents\",\"equivalents\":[{\"@admin\":{\"id\":\"concept-equivalents\",\"uuid\":\"ff84d33a-1072-38d2-953b-5332535ba652\",\"status\":\"unavailable\"},\"@entity\":\"reference\"}],\"base\":\"concept\"},\"@entity\":\"reference\"},{\"summary\":{\"title\":\"PID
        (NG alternative)\"},\"identifier\":[{\"id\":\"https://vocab.getty.edu/aat/300387580\",\"type\":\"AAT\",\"value\":\"persistent
        identifiers\"}],\"@admin\":{\"uid\":\"0I3T-000B-0000-0000\",\"id\":\"concept-pid_(ng_alternative)\",\"uuid\":\"290420fc-0c85-3c90-91ed-b9a81a2f930f\"},\"@datatype\":{\"actual\":\"equivalents\",\"equivalents\":[{\"@admin\":{\"id\":\"concept-equivalents\",\"uuid\":\"ff84d33a-1072-38d2-953b[...]
