interactions:
- request:
    body: '{"query":{"bool":{"must":[{"match":{"summary.title":"sunflowers"}},{"term":{"@datatype.base":"object"}}]}},"size":10,"from":0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://data.ng.ac.uk/es/public/_search
  response:
    body:
      string: "{\"took\":43,\"timed_out\":false,\"_shards\":{\"total\":2,\"successful\":2,\"skipped\":0,\"failed\":0},\"hits\":{\"total\":{\"value\":1,\"relation\":\"eq\"},\"max_score\":17.19857,\"hits\":[{\"_index\":\"public\",\"_type\":\"data\",\"_id\":\"0GE6-0001-0000-0000\",\"_score\":17.19857,\"_ignored\":[\"description.__long_text.keyword\",\"description.formatted.keyword\",\"description.__short_text.keyword\",\"creation.attribution.formatted.keyword\"],\"_source\":{\"date\":[{\"historical\":true,\"from\":\"2009-10-28\",\"type\":\"Pre-eminent
        work flag\",\"value\":\"28/10/2009 - present\"}],\"access\":{\"item\":{\"privacy\":false,\"public_approved\":true},\"media\":{\"date\":[{\"from\":\"1924-01-01\",\"to\":\"9999\",\"value\":\"1924-01-01
        to present\"}],\"public_image\":true,\"download\":true,\"zoom\":true,\"hi_res\":true}},\"description\":[{\"formatted\":\"<p
        class=\\\"dokuwiki_paragraph\\\">This is one of five versions of <span class=\\\"dokuwiki_italic\\\">Sunflowers</span>
        on display in museums and galleries across the world. Van Gogh made the paintings
        to decorate his house in Arles in readiness for a visit from his friend and
        fellow artist, Paul Gauguin.</p><p class=\\\"dokuwiki_paragraph\\\">&lsquo;The
        sunflower is mine&rsquo;, Van Gogh once declared, and it is clear that the
        flower had various meanings for him. The different stages in the sunflower&rsquo;s
        life cycle shown here, from young bud through to maturity and eventual decay,
        follow in the <span class=\\\"dokuwiki_italic\\\">vanitas</span> tradition
        of Dutch seventeenth-century flower paintings, which emphasise the transient
        nature of human actions. The sunflowers were perhaps also intended to be a
        symbol of friendship and a celebration of the beauty and vitality of nature.</p><p
        class=\\\"dokuwiki_paragraph\\\">The sunflower pictures were among the first
        paintings Van Gogh produced in Arles that show his signature expressive style.
        No other artist has been so closely associated with a specific flower, and
        these pictures are among Van Gogh&rsquo;s most iconic and best-loved works.</p>\",\"source\":\"Dokuwiki\",\"type\":\"short
        text\",\"value\":\"This is one of five versions of Sunflowers on display in
        museums and galleries across the world. Van Gogh made the paintings to decorate
        his house in Arles in readiness for a visit from his friend and fellow artist,
        Paul Gauguin.\\n\\n'The sunflower is mine', Van Gogh once declared, and it
        is clear that the flower had various meanings for him. The different stages
        in the sunflower\u2019s life cycle s[...]
- request:
    body: '{"query":{"bool":{"must":[{"term":{"identifier.value":"0GE6-0001-0000-0000"}},{"term":{"@datatype.base":"object"}}]}},"size":1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://data.ng.ac.uk/es/public/_search
  response:
    body:
      string: "{\"took\":1,\"timed_out\":false,\"_shards\":{\"total\":2,\"successful\":2,\"skipped\":0,\"failed\":0},\"hits\":{\"total\":{\"value\":1,\"relation\":\"eq\"},\"max_score\":16.712608,\"hits\":[{\"_index\":\"public\",\"_type\":\"data\",\"_id\":\"0GE6-0001-0000-0000\",[...]
