interactions:
- request:
    body: '{"query":{"bool":{"must":[{"term":{"@datatype.base":"object"}}]}},"size":10,"from":0,"sort":[{"@admin.uid":"asc"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://data.ng.ac.uk/es/public/_search
  response:
    body:
      string: "{\"took\":83,\"timed_out\":false,\"_shards\":{\"total\":2,\"successful\":2,\"skipped\":0,\"failed\":0},\"hits\":{\"total\":{\"value\":3778,\"relation\":\"eq\"},\"max_score\":null,\"hits\":[{\"_index\":\"public\",\"_type\":\"data\",\"_id\":\"003L-000A-0000-0000\",\"_score\":null,\"_ignored\":[\"note.__cataloguing_change.keyword\",\"note.formatted.keyword\"],\"_source\":{\"summary\":{\"title\":\"17th-century
        Italian Frame\"},\"identifier\":[{\"equivalents\":[{\"summary\":{\"title\":\"object
        number\"},\"identifier\":[{\"id\":\"https://vocab.getty.edu/aat/300312355\",\"type\":\"AAT\",\"value\":\"accession
        numbers\"}],\"@admin\":{\"uid\":\"0I3B-000B-0000-0000\",\"id\":\"concept-object_number\",\"uuid\":\"d70390e1-59e4-3afb-963a-8cd1cd59b6bb\"},\"@datatype\":{\"actual\":\"equivalents\",\"equivalents\":[{\"@admin\":{\"id\":\"concept-equivalents\",\"uuid\":\"ff84d33a-1072-38d2-953b-5332535ba652\",\"status\":\"unavailable\"},\"@entity\":\"reference\"}],\"base\":\"concept\"},\"@entity\":\"reference\"}],\"type\":\"object
        number\",\"value\":\"F20109\",\"primary\":true},{\"type\":\"PID\",\"value\":\"003L-000A-0000-0000\"},{\"equivalents\":[{\"summary\":{\"title\":\"Display
        Number\"},\"identifier\":[{\"id\":\"https://vocab.getty.edu/aat/300312355\",\"type\":\"AAT\",\"value\":\"accession
        numbers\"}],\"@admin\":{\"uid\":\"0I0V-000B-0000-0000\",\"id\":\"concept-display_number\",\"uuid\":\"842cfc5a-1421-321c-9340-422035e1547f\"},\"@datatype\":{\"actual\":\"equivalents\",\"equivalents\":[{\"@admin\":{\"id\":\"concept-equivalents\",\"uuid\":\"ff84d33a-1072-38d2-953b-5332535ba652\",\"status\":\"unavailable\"},\"@entity\":\"reference\"}],\"base\":\"concept\"},\"@entity\":\"reference\"}],\"type\":\"display
        number\",\"value\":\"F20109\"},{\"type\":\"sort number\",\"value\":\"f420109\"}],\"note\":[{\"note\":{\"type\":\"remarks\",\"value\":\"Initial
        addition of cataloguing information to frame records\"},\"formatted\":\"Title
        '17th-century Italian Frame' added; Date '17th century' added; School 'Italian'
        added.\",\"source\":\"TMS\",\"type\":\"cataloguing change\",\"value\":\"Title
        '17th-century Italian Frame' added; Date '17th century' added; School 'Italian'
        added.\",\"status\":\"Active\"}],\"access\":{\"item\":{\"privacy\":false,\"public_approved\":true},\"media\":{\"public_image\":false,\"download\":false,\"zoom\":false,\"hi_res\":false}},\"original\":{\"value\":\"not
        original frame\"},\"@datatype\":{\"virtual\":false,\"base\":\"object\"},\"classification\":[{\"equivalents\":[{\"summary\":{\"title\":\"Frames\"},\"identifier\":[{\"id\":\"https://vocab.getty.edu/aat/300189814\",\"type\":\"AAT\",\"value\":\"frames
        (protective furnishings)\"}],\"@admin\":{\"uid\":\"0I49-000B-0000-0000\",\"id\":\"concept-frames\",\"uuid\":\"d45ad44f-c4a5-3215-8929-619c2ea2f9da\"},\"@datatype\":{\"actual\":\"equivalents\",\"equivalents\":[{\"@admin\":{\"id\":\"concept-equivalents\",\"uuid\":\"ff84d33a-1072-38d2-953b-5332535ba652\",\"status\":\"unavailable\"},\"@entity\":\"reference\"}],\"base\":\"concept\"},\"@entity\":\"reference\"}],\"type\":\"classification\",\"value\":\"Frames\"},{\"type\":\"school\",\"value\":\"English\"},{\"equivalents\":[{\"summary\":{\"title\":\"removable
        frame\"},\"identifier\":[{\"id\":\"https://vocab.getty.edu/aat/300404391\",\"type\":\"AAT\",\"value\":\"picture
        frames\"}],\"@admin\":{\"uid\":\"0I1G-000B-0000-0000\",\"id\":\"concept-removable_frame\",\"uuid\":\"7052c06f-4d1b-35c4-bb63-563c58def387\"},\"@datatype\":{\"actual\":\"equivalents\",\"equivalents\":[{\"@admin\":{\"id\":\"concept-equivalents\",\"uuid\":\"ff84d33a-1072-38d2-953b-5332535ba652\",\"status\":\"unavailable\"},\"@entity\":\"reference\"}],\"base\":\"concept\"},\"@entity\":\"reference\"}],\"type\":\"frame
        type\",\"value\":\"removable frame\"}],\"title\":[{\"type\":\"full title\",\"value\":\"17th-century
        Italian Frame\"}],\"@admin\":{\"processed\":1777974088322,\"sequence\":1589723,\"uid\":\"003L-000A-0000-0000\",\"added\":1697553997274,\"stream\":\"tms\",\"id\":\"object-21130\",\"source\":\"Tms\",\"uuid\":\"65cc63e0-0830-31f4-8d41-87d24506056c\"},\"painting\":[{\"summary\":{\"title\":\"The
        C\xF4te des B\u0153ufs at L'Hermitage\"},\"multimedia\":[{\"@link\":{},\"@admin\":{\"uid\":\"01R2-0001-0000-0000\",\"id\":\"n-4197-00-000021.tif\",\"source\":\"ngfs\",\"uuid\":\"e9686231-90d6-3875-ae80-98fe50fc2f9e\"},\"@processed\":{\"preview\":{\"resizable\":true,\"@type\":\"image\",\"format\":\"jpeg\",\"modified\":1257537819103,\"location\":\"217/640/687/preview_N-4197-00-000021.jpg\",\"measurements\":{\"filesize\":{\"units\":\"bytes\",\"value\":39359},\"dimensions\":[{\"units\":\"pixels\",\"dimension\":\"height\",\"value\":157},{\"units\":\"pixels\",\"dimension\":\"width\",\"value\":120}]}},\"mid\":{\"resizable\":true,\"@type\":\"image\",\"format\":\"jpeg\",\"modified\":1257537819103,\"location\":\"217/640/687/mid_N-4197-00-000021.jpg\",\"measurements\":{\"filesize\":{\"units\":\"bytes\",\"value\":93156},\"dimensions\":[{\"units\":\"pixels\",\"dimension\":\"height\",\"value\":590},{\"units\":\"pixels\",\"dimension\":\"width\",\"value\":450}]}},\"zoom\":{\"resizable\":true,\"@type\":\"image\",\"format\":\"pyramid
        tiff\",\"modified\":1257537819103,\"location\":\"217/640/687/N_4197_00_000021.ptif\",\"measurements\":{\"filesize\":{\"units\":\"bytes\",\"value\":168056252},\"dimensions\":[{\"units\":\"pixels\",\"dimension\":\"height\",\"value\":8569},{\"units\":\"pixels\",\"dimension\":\"width\",\"value\":6536}]}}},\"@type\":\"image\",\"@datatype\":{\"actual\":\"image\",\"base\":\"media\"},\"@entity\":\"reference\"},{\"@link\":{\"role\":[{\"value\":\"Stories
        in Colour - Series 1: Episode 5 - Don\u2019t eat your deadly greens\"}],\"primary\":false},\"@admin\":{\"uid\":\"0OJT-000B-0000-0000\",\"id\":\"media-44762\",\"source\":\"tms\",\"uuid\":\"1f6529bd-6d8c-3b11-99d4-63ec72f24f94\"},\"@processed\":{\"original\":{\"resizable\":true,\"absolute\":true,\"@type\":\"video\",\"format\":\"html\",\"modified\":0,\"location\":\"https://youtu.be/9PIn-7FesV8\",\"measurements\":{\"filesize\":{\"units\":\"bytes\",\"value\":1308227}}}},\"@type\":\"video\",\"@datatype\":{\"actual\":\"video\",\"equivalents\":[{\"@admin\":{\"id\":\"concept-video\",\"uuid\":\"70cfd1f0-5771-38ae-a1d3-683533fef7e3\",\"status\":\"unavailable\"},\"@entity\":\"reference\"}],\"base\":\"media\"},\"title\":[{\"type\":\"caption\",\"value\":\"Stories
        in Colour - Series 1: Episode 5 - Don\u2019t eat your deadly greens\"}],\"@entity\":\"reference\"}],\"@link\":{\"date\":[{\"from\":\"2023\",\"to\":\"9999\",\"value\":\"08/06/2023
        - present\"}],\"note\":[],\"role\":[{\"value\":\"Current framing\"}]},\"@admin\":{\"uid\":\"0E8F-0001-0000-0000\",\"id\":\"object-3600\",\"uuid\":\"56c0476b-83eb-35af-9a33-936d7e556724\"},\"@datatype\":{\"virtual\":false,\"base\":\"object\"},\"@entity\":\"reference\"}],\"function\":[{\"value\":\"travel
        frame\"}],\"legal\":{\"rights\":[{\"details\":\"To encourage the use and reuse
        of the National Gallery's collection data, they are released under the following
        dedications and licences:\\r\\nStructured data (as opposed to narrative texts)
        are released under a Creative Commons Zero dedication (CC0): https://creativecommons.org/publicdomain/zero/1.0/.\\r\\nDescriptions,
        notes and all other narrative text content are licensed under a Creative Commons
        Attribution 4.0 licence (CC BY): https://creativecommons.org/licenses/by/4.0/.\\r\\nImages
        are licensed under a Creative Commons Attribution-NonCommercial-NoDerivs 4.0
        licence (CC BY-NC-ND): https://creativecommons.org/licenses/by-nc-nd/4.0/.\",\"type\":\"use
        of images and metadata\"}],\"status\":\"NG Frame\"},\"location\":{\"current\":{\"summary\":{\"title\":\"Not
        on display\"},\"@admin\":{\"available\":false}}},\"category\":[{\"equivalents\":[{\"summary\":{\"title\":\"Frame
        Collection\"},\"@admin\":{\"uid\":\"0ORK-000B-0000-0000\",\"id\":\"concept-frame_collection\",\"uuid\":\"9fca0a6b-9b3c-3c7c-aa2e-12834a66fb5d\"},\"@datatype\":{\"actual\":\"equivalents\",\"equivalents\":[{\"@admin\":{\"id\":\"concept-equivalents\",\"uuid\":\"ff84d33a-1072-38d2-953b-5332535ba652\",\"status\":\"unavailable\"},\"@entity\":\"reference\"}],\"base\":\"concept\"},\"@entity\":\"reference\"}],\"type\":\"department\",\"value\":\"Frame
        Collection\"}],\"creation\":[{\"date\":[{\"from\":\"1600\",\"to\":\"1699\",\"value\":\"17th
        century\"}],\"@entity\":\"lifecycle\"}]},\"sort\":[\"003L-000A-0000-0000\"]},{\"_index\":\"public\",\"_type\":\"data\",\"_id\":\"003P-000A-0000-0000\",\"_score\":null,\"_ignored\":[\"note.__cataloguing_change.keyword\",\"note.formatted.keyword\"],\"_source\":{\"summary\":{\"title\":\"21st-century
        Replica Frame\"},\"identifier\":[{\"equivalents\":[{\"summary\":{\"title\":\"object
        number\"},\"identifier\":[{\"i[...]
- request:
    body: '{"query":{"bool":{"must":[{"term":{"@datatype.base":"object"}}]}},"size":10,"from":0,"sort":[{"@admin.uid":"asc"}],"search_after":["01CK-0009-0000-0000"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://data.ng.ac.uk/es/public/_search
  response:
    body:
      string: "{\"took\":28,\"timed_out\":false,\"_shards\":{\"total\":2,\"successful\":2,\"skipped\":0,\"failed\":0},\"hits\":{\"total\":{\"value\":3778,\"relation\":\"eq\"},\"max_score\":null,\"hits\":[{\"_index\":\"public\",\"_type\":\"data\",\"_id\":\"022S-0009-0000-0000\",\"_score\":null,\"_ignored\":[\"note.__cataloguing[...]
- request:
    body: '{"query":{"bool":{"must":[{"term":{"@datatype.base":"object"}}]}},"size":10,"from":0,"sort":[{"@admin.uid":"asc"}],"search_after":["060T-0009-0000-0000"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://data.ng.ac.uk/es/public/_search
  response:
    body:
      string: "{\"took\":20,\"timed_out\":false,\"_shards\":{\"total\":2,\"successful\":2,\"skipped\":0,\"failed\":0},\"hits\":{\"total\":{\"value\":3778,\"relation\":\"eq\"},\"max_score\":null,\"hits\":[{\"_index\":\"public\",\"_type\":\"data\",\"_id\":\"061K-0009-0000-0000\",\"_score\":null,\"_ignored\":[\"description.__long_text.keyword\",\"description.formatted.keyword\",\"description.__short_text.keyword\",\"creation.attribution.formatted.keyword\",\"access.media.credit.keyword\"],\"_source\":{\"date\":[{\"historical\":true,\"from\":\"2024\",\"to\":\"2024\",\"type\":\"Web
        loan begin date\",\"value\":\"2024\"}],\"exhibition\":[{\"date\":[{\"from\":\"2023-09-30\",\"to\":\"2024-11-03\",\"value\":\"30
        September 2023 - 3 November 2024\"}],\"summary\":{\"title\":\"The Credit Suisse
        Exhibition: Frans Hals\"},\"@link\":{\"venues\":[{\"date\":[{\"from\":\"2023-09-30\",\"to\":\"2024-01-21\",\"value\":\"2023-09-30
        to 2024-01-21\"}],\"venue\":[{\"summary\":{\"title\":\"The National Gallery
        (London)\"},\"@admin\":{\"uid\":\"0P5X-0001-0000-0000\",\"id\":\"agent-652\",\"uuid\":\"511c84f0-a664-39ab-b653-6db7fc6c345e\"},\"@datatype\":{\"actual\":\"Organisation\",\"equivalents\":[{\"@admin\":{\"id\":\"concept-organisation\",\"uuid\":\"2bd185c5-a9b6-36ee-8bea-3dc3251b28e7\",\"status\":\"unavailable\"},\"@entity\":\"reference\"}],\"base\":\"agent\"},\"@entity\":\"reference\"}],\"category\":[{\"type\":\"room
        theme\",\"value\":\"4. Invented Characters\"}],\"title\":[{\"type\":\"exhibition
        title at venue\",\"value\":\"The Credit Suisse Exhibition: Frans Hals\"}]}]},\"@admin\":{\"uid\":\"0AHX-000B-0000-0000\",\"id\":\"exhibition-4033-3786\",\"uuid\":\"29bfb154-45b8-3ce5-be3b-3add99f9f7c8\"},\"@datatype\":{\"sub\":[\"NG
        Exhibition & 3rd Party Exhibition (Loans Out)\"],\"base\":\"exhibition\"},\"@entity\":\"reference\"}],\"summary\":{\"title\":\"Young
        Woman with a Display of Fruit and Vegetables\"},\"identifier\":[{\"equivalents\":[{\"summary\":{\"title\":\"object
        number\"},\"identifier\":[{\"id\":\"https://vocab.getty.edu/aat/300312355\",\"type\":\"AAT\",\"value\":\"accession
        numbers\"}],\"@admin\":{\"uid\":\"0I3B-000B-0000-0000\",\"id\":\"concept-object_number\",\"uuid\":\[...]
